body {
  background-color: powderblue;
  font-family: 'Caveat', cursive, 'Oswald', sans-serif;
  margin: 0;
}
.header {
  text-align: center;
}

.header a {
  text-decoration: none;
  color: black;
  margin: 0 10px; /* Add margin between links */
}

.header h4 {
  display: inline; /* Prevents the line break between "FAQ" and "/" */
}

.flex-container-cover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.flex-item {
  margin: 0 10px;
}

.button,
.dropbtn {
  text-decoration: none;
  color: white;
  background-color: purple;
  padding: 10px ;
  border-radius: 10px;
  display: inline-block;
  font-size: 14px;
  font-family: 'Caveat', cursive, 'Oswald', sans-serif;
}

.button:hover {
  background-color: #7ac2cc;
}

.image-container,
.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.image-wrapper {
  position: relative;
}

.image {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 10px;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}

/* Styles for the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Styles for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(49, 157, 200);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px black;
  z-index: 1;
  border-radius: 10px;
}

/* Styles for the dropdown links */
.dropdown-content a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: purple;
}

/* Display the dropdown content when hovering over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

.image-wrapper:hover .text-overlay {
  opacity: 1;
  
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

#cart-container {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 2; }
  /* Ensure cart is above other content */

  
@media only screen and (max-width: 375px) {
  /* iPhone XR width is 375px in portrait mode */
  .flex-container-cover {
    flex-direction: column; /* Change to column layout for smaller screens */
    align-items: center;
  }

  .flex-item {
    margin: 5px 0; /* Adjust margin for smaller screens */
  }

  .button {
    padding: 8px 12px; /* Adjust padding for smaller screens */
    font-size: 12px; /* Adjust font size for smaller screens */
  }

  .image {
    width: 100%; /* Make images responsive to the container width */
    max-width: 300px; /* Set a maximum width for smaller screens */
    height: auto;
    margin: 5px; /* Adjust margin for smaller screens */
  }
}