
.centered-content a {
    margin-right: 20px;
  }
  
  .flex-item a {
    margin-bottom: 20px;
  }

  .flex-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .flex-item {
    margin: 0 30px; 
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    color: #008CBA;
  }
  .button {
    background-color: transparent;
    box-sizing: content-box;
    border: purple;
    color: purple;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 16px;
  }
  .flex-container-cover {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the flex items horizontally */
    align-items: center; /* Center the flex items vertically */
    height: 100px;
  }
  .button {
    text-decoration: none;
    color: white; /* Text color for the buttons */
    background-color: purple; /* Background color for the buttons */
    padding: 10px 20px; /* Padding inside the buttons */
    border-radius: 5px; /* Optional: Adds rounded corners to the buttons */
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
  }
.button {
font-family: Arial, sans-serif;
}
  
  