body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: powderblue url('images/summer\ salt\ band.jpeg') no-repeat center center fixed;
  background-size: cover;
  filter: brightness(1.2);
  margin: 0;
  font-family: 'Caveat', cursive, 'Oswald', sans-serif;
  padding: 0;
}

h1, h2, .header {
  text-align: center;
  color: white;  /* Set the default color to white */
  text-decoration: none;
}

.header a {
  text-decoration: none;
  margin: 0 10px;
  color: white;
}

.header h4 {
  display: inline;
  color: white;
}
.header a:link,
.header a:visited {
  text-decoration: none;
  color: white;
}

.header a:hover {
  background-color: purple;
  color: white; /* Set the hover color to white */
}

.centered-content,
#buttons,
.flex-container,
.flex-container-cover,
.flex-item,
.button,
.dropbtn,
.dropdown,
.dropdown-content,
.dropdown-content a,
.concert-container,
.concert {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.centered-content a,
.header a,
.flex-item a,
.dropdown-content a {
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
}

.button,
.dropbtn {
  background-color: purple;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  font-size: 14px;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(49, 157, 200);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px black;
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: white;
}

.dropdown-content a:hover {
  background-color: purple;
}

.dropdown:hover .dropdown-content {
  display: block;
}

img {
  width: 50px;
  height: 50px;
  margin: 10px;
}
.FAQ-Policies {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 10px; /* Add padding for better visibility */
  background-color: rgba(0, 0, 0, 0.8); /* Add a semi-transparent background */
}

.FAQ-Policies a {
  text-decoration: none;
  color: white;
  margin: 0 5px; /* Add margin between links */
}

.FAQ-Policies h4 {
  display: inline;
  margin: 0 5px; /* Add margin between links */
}


@media only screen and (max-width: 767px) {
  img {
    width: 30px;
    height: 30px;
    margin: 5px;
  }

  .button, .dropbtn {
    padding: 8px 12px;
    font-size: 12px;
  }

  #buttons,
  .flex-container,
  .flex-container-cover,
  .flex-item {
    flex-direction: row;
    margin-right: 0;
  }

  .flex-item {
    margin: 5px 0;
  }

  .concert {
    width: 100%;
  }
}
