
.centered-content a {
    margin-right: 20px;
  }
  
  .flex-item a {
    margin-bottom: 20px;
  }

  .flex-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .flex-item {
    margin: 0 30px; 
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    color: #008CBA;
  }
  .button {
    background-color: transparent;
    box-sizing: content-box;
    border: purple;
    color: purple;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-family: 'Caveat', cursive, 'Oswald', sans-serif;
  }
  .flex-container-cover {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the flex items horizontally */
    align-items: center; /* Center the flex items vertically */
    height: 100px;
    margin-right: 45px;
  }
  .button {
    text-decoration: none;
    color: white; /* Text color for the buttons */
    background-color: purple; /* Background color for the buttons */
    padding: 10px 20px; /* Padding inside the buttons */
    border-radius: 5px; /* Optional: Adds rounded corners to the buttons */
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
  }
.button {
  font-family: 'Caveat', cursive, 'Oswald', sans-serif;
}
body {
  font-family: 'Caveat', cursive, 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}

/* Style for the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style for the dropdown button */
.dropbtn {
  background-color: purple;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Caveat', cursive, 'Oswald', sans-serif;
}

/* Style for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(49, 157, 200);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px black;
  z-index: 1;
  font-family: 'Caveat', cursive, 'Oswald', sans-serif;
  border-radius: 10px;
}

/* Style for the dropdown links */
.dropdown-content a {
  color: white;
  padding: 12px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: purple;
}

/* Display the dropdown content when hovering over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}
body {
  font-family: 'Caveat', cursive, 'Oswald', sans-serif;
  }
