.dropbtn {
    margin-left: 10px; /* Adjust the value as needed to move the button away from the left side */
    margin-top: 10px;
  }
  .concert-container {
    display: flex;
    flex-direction: column;
  }

  .concert {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
  }
  

  /* Add a media query for larger screens (desktop) */
  @media (min-width: 768px) {
    .concert-container {
      flex-direction: row;
    }

    .concert {
      flex: 1;
      margin: 10px;
    }
  }

  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: powderblue;
    color: black;
  }
  
  .header a {
    text-decoration: none;
    color: black;
    margin: 0 10px; /* Add margin between links */
  }
  
  .header h4 {
    display: inline; /* Prevents the line break between "FAQ" and "/" */
  }