body {
  font-family: 'Caveat', cursive, 'Oswald', sans-serif;
  background-color: powderblue;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: powderblue;
  color: black;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header h4 {
  margin: 0;
  padding: 0;
}

.dropdown {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
}

.dropbtn {
  background-color: purple;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

@media only screen and (max-width: 767px) {
  .header {
    height: auto;
  }

  .header h4 {
    margin-bottom: 5px;
  }

  .dropdown {
    margin: 5px;
  }

  .dropbtn {
    font-size: 14px;
  }

  .video-container {
    margin-left: 10px;
  }
}

.flex-container-cover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.flex-item {
  margin: 0 10px;
}

.button {
  text-decoration: none;
  color: white;
  background-color: purple;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: 'Caveat', cursive, 'Oswald', sans-serif;
}

.button:hover {
  background-color: #7ac2cc;
}

.video-container iframe {
  width: 100%;
  max-width: 600px;
  height: auto;
}
